.review-form {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s ease-in-out;
}

.review-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
  min-height: 100px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.review-form textarea:focus {
  border-color: #1c70be;
  outline: none;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

.rating-stars {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
}

.submit-review-button {
  background-color: #1c70be;
  color: white;
  border: none;
  /* padding: 10px 15px; */
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-review-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.submit-review-button:active {
  background-color: #388e3c;
  transform: translateY(1px);
}

.submit-review-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.6);
  
}
