.material-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 5px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.book-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.card__content {
  margin-top: 10px;
  text-align: center;
}

.card__title {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #007BFF;
}

.card__author,
.card__genre,
.card__status {
  font-size: 15px;
  margin: 1px 0;
  color: #333;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.details-button,
.open-button,
.download-button,
.availability-button {
  margin-top: 5px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.85em;
}

.details-button:hover {
  background-color: #218838;
}

.open-button:hover {
  background-color: #0056b3;
}

.download-button {
  background-color: #ffc107;
}

.download-button:hover {
  background-color: #e0a800;
}

.availability-button {
  background-color: #6c757d;
}

.availability-button:hover {
  background-color: #5a6268;
}

.loader {
  text-align: center;
  font-size: 1.5em;
  color: #007BFF;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.2em;
}
